header {
    background-color:#CE2829 ;
    color: white;
    padding-bottom: 1rem;
}

.logo {
    background-image: url("Assets/Iteration-1-assets/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
}