.page {
    margin-top: 2vh;
    margin-left: 50vh;
    margin-right: 50vh;
}

.prices {
    display: flex;
    justify-content:space-between;
}

.prices > h3 {
    position: relative;
    bottom:20px;
}

.prices > div {
    width:30%;
    display:flex;
    justify-content: space-between;
}

section > div{
    display:flex;
    flex-direction: column;
    gap:2px;
}
.middle-up {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.middle-down {
    margin-top: 50px;
}
.middle-down > section {
    border:solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh;
}
.middle-down-mlz{
    display:flex;
    flex-wrap: wrap;
}
#checkbox {    
    display: flex;
    width: 33%;
}
.button {
    border-radius: 10%;
    background:#FDC913;
    cursor: pointer;
}
.bottom-siparis {
    display: flex;
    justify-content: space-between;
}
.bottom-siparis-toplam {
    display: flex;
    flex-direction: column;
}

#hizli-teslimat :focus{
    background: green;
}